<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center"><%= @view.group.title %></h2>
  </div>
</div>

<div class="row mt15">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Submit Standup</div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs nav-justified mb15">
          <li class="<%= @view.stand_up_type == "today" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "today")) %>">
              <%= @view.today.strftime('%A') %>'s Standup
            </a>
          </li>

          <li class="<%= @view.stand_up_type == "tomorrow" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "tomorrow")) %>">
              <%= (@view.today + 1).strftime('%A') %>'s Standup
            </a>
          </li>
        </ul>

        <% if flash[:standup_form_error] %>
          <div class="alert alert-danger">
            <%= flash[:standup_form_error] %>
          </div>
        <% end %>

        <p class="alert alert-info">
          <%= @view.submitted_count %> / <%= @view.group_user_count %> people in your group have submitted their standup
        </p>

        <% if @view.stand_up.completed? %>
          <%= render partial: "stand_up_answers", locals: { stand_up: @view.stand_up } %>
        <% else %>
          <%= render partial: "stand_up_form", locals: { stand_up: @view.stand_up, question_set: @view.question_set } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">View Standups</div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
