<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center"><%= @group.title %></h2>
  </div>
</div>

<div class="row mt15">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Submit Standup</div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs nav-justified mb15">
          <li class="<%= @stand_up_type == "today" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "today")) %>">
              <%= @today.strftime('%A') %>'s Standup
            </a>
          </li>

          <li class="<%= @stand_up_type == "tomorrow" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "tomorrow")) %>">
              <%= (@today + 1).strftime('%A') %>'s Standup
            </a>
          </li>
        </ul>

        <% if flash[:standup_form_error] %>
          <div class="alert alert-danger">
            <%= flash[:standup_form_error] %>
          </div>
        <% end %>

        <% if @stand_up.completed? %>
          <%= render partial: "stand_up_answers", locals: { stand_up: @stand_up } %>
        <% else %>
          <%= render partial: "stand_up_form", locals: { stand_up: @stand_up } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">View Past Standups</div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
