<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">
      <%= link_to "«", groups_path %>
      <%= @submit_standup_view.group.title %>
    </h2>
  </div>
</div>

<div class="row mt15">
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Submit Standup</div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs nav-justified mb15">
          <li class="<%= @submit_standup_view.stand_up_type == "today" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "today")) %>">
              <%= @submit_standup_view.today.strftime('%A') %>'s Standup
            </a>
          </li>

          <li class="<%= @submit_standup_view.stand_up_type == "tomorrow" ? "active" : "" %>">
            <a href="<%= url_for(request.query_parameters.merge(when: "tomorrow")) %>">
              <%= (@submit_standup_view.today + 1).strftime('%A') %>'s Standup
            </a>
          </li>
        </ul>

        <% if flash[:standup_form_error] %>
          <div class="alert alert-danger">
            <%= flash[:standup_form_error] %>
          </div>
        <% end %>

        <p class="alert alert-info">
          <%= @submit_standup_view.submitted_count %> / <%= @submit_standup_view.group_user_count %> people in your group have submitted their standup
        </p>

        <% if @submit_standup_view.stand_up.completed? %>
          <%= render partial: "stand_up_answers", locals: { stand_up: @submit_standup_view.stand_up } %>
        <% else %>
          <%= render partial: "stand_up_form", locals: { stand_up: @submit_standup_view.stand_up, question_set: @submit_standup_view.question_set } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <%= link_to "Run standup meeting", meeting_path(@submit_standup_view.group) %>
  </div>
</div>
